body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.pic
{
    display: inline;
    margin-left: 720px;
    /*margin-right: auto;*/
    margin-top: -450px;
    
    
}

.btn-success
{
    margin-left: 40px;
}

.list-rules 
{
   color: black;
   font-weight: bold;
   font-family:sans-serif;
   font-size: 1.5em;
   
   
}

.words
{
    display: inline-block;
    margin-top: 220px;
    margin-left: 50px;
    font-size: 18px;
}



ul{
    list-style-type: none;
}

.twenty
{
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}

.money
{
    font-weight: 900;
    font-size: 40px;
}

.wars
{
    margin-top: 27px;
}

.yoda
{
    position: absolute;
    margin-top: -420px;
    opacity:0.7;
    margin-left: 320px;
    border: 20px solid transparent;
    border-radius: 190px 190px;
    box-shadow:50px 50px inset;
}

p 
{
    margin-left: 40px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;

}


