
@{
    ViewBag.Title = "NewsOfTheDay";
}

<h2>NewsOfTheDay</h2>
<h3>@ViewBag.RawData</h3>
<a href="@ViewBag.URL">Click here to read article</a></>
<h3>@ViewBag.StockData</h3>
<h3>@ViewBag.StockData2</h3>

