@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<hr />
<address>
    Michael Yalda<br />
    Charter Twp of Clinton, MI 48038<br />
    <abbr title="Phone">P:</abbr>
    248.408.7859
</address>

<address>
    <strong>Linkin:</strong>   <a href="https://www.linkedin.com/in/michael-yalda/">Linkin</a><br />
    <strong>Git-Hub:</strong> <a href="https://github.com/pandora25">Git-Hub</a>
</address>


