@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<script src="http://widgets.macroaxis.com/widgets/url.jsp?t=42&s=AAPL, TSLA, NFLX, JNJ, JPM, GOOG, AMZN, DPZ, FB, CMG, CMG, BA"></script>


<div class="words">

    <ul class="list-rules">
        <li><span class="money">Get $5,000</span></li>
        <li>Select 3 stocks</li>
        <li>Select an investment date <span class="twenty">*up to 20 years back</span></li>
        <li>How much money would you have today?</li>

    </ul>
    <a href="../Account/Register" class="btn btn-success">Register</a>
    <a href="../Account/Login" class="btn btn-success">Sign In</a>

    <img src="~/Content/Images/yodacute.png" class="yoda" height="160" width="120" alt="picture of Yoda" />
    <img src="~/Content/Images/phone.png" class="pic" height="690" width="460" alt="picture of phone" />

   
</div>


    





