@{
    ViewBag.Title = "Home Page";
}



<br />
<br />
<script src="http://widgets.macroaxis.com/widgets/url.jsp?t=42&s=AAPL, TSLA, NFLX, JNJ, JPM, GOOG, AMZN, DPZ, FB, CMG, CMG, BA"></script>
@*<div class="ticker">
    <script type="text/javascript">DukascopyApplet = { "type": "runboard", "params": { "instruments": "EUR/USD,USD/JPY,GBP/USD,EUR/JPY,GBP/JPY,USD/CAD,XAU/USD,AUD/USD,USD/CHF,NZD/USD,E_Brent,E_SandP-500,E_DJE50XX,E_N225Jap", "showDelta": true, "showDeltaPercent": true, "animationSpeed": ["100000"], "fontSize": "12", "fontFamily": ["Verdana, Geneva, sans-serif"], "instrumentColor": "#666666", "priceColor": "#000000", "delimeterColor": "#0000FF", "bgColor": "#FFFFFF", "width": "100%", "height": "30", "adv": "popup" } };</script>
    <script type="text/javascript" src="https://freeserv-static.dukascopy.com/2.0/core.js"></script>
    </div>*@



@*<h1 align="center" style="color:black;"><b>Welcome to the Stock Market Jedi Challenge!</b></h1>
    <h2 align="center" style="color:black;"><i>Educating High School Students on the Value of Investing in their Future.</i></h2>
    <h1 align="center" style="color:black;">Have You Ever Wondered...</h1>
    <h2 align="center" style="color:green;"><b>"What if I bought $1,000 of Apple Stock in 1998?</b></h2>
    <h2 align="center" style="color:black;">We Give You $5,000 to Invest in Three Stocks</h2>
    <h2 align="center" style="color:black;">
        Our "Way-Back Machine" will Purchase Your Stocks on the Date you Selected<br />
        and Create a Portfolio for you Showing What Your Investment Would be Worth Today!
    </h2>
    <br />
    <img src="~/Content/Images/yoda-edit.png" class="center" />
    <h2 align="center" style="color:black;"><i>Invest You Must. Prosper You Will!</i></h2>
    <br />*@


<div class="words">
    @*<section class="rules">*@
    <ul class="list-rules">
        <li><span class="money">Get $5,000</span></li>
        <li>Select 3 stocks to invest in</li>
        <li>Select a start investing date <span class="twenty">*up to 20 years back</span></li>
        <li>How much money would you have today?</li>

    </ul>
    <p>Educating high school students on the power of investing</p>
    <button type="button" class="btn btn-success">Sign Up</button>

    <img src="~/Content/Images/LafIK.gif" class="yoda" height="260" width="260" alt="pic of Yoda" />

    @*</section>*@

    @*<img src="~/Content/Images/yoda.jpg" class="yoda" height="80" width="80" alt="pic of Yoda" />*@
    @*<img src="~/Content/Images/yoda-edit.png" height="20" width="20" alt="picture of Yoda" />*@

    <img src="~/Content/Images/phone.png" class="pic" height="690" width="460" alt="picture of phone" />
</div>


    





